body{
    background-color: #F7ECDE;
}

h1{
    color: #54BAB9;
}

h3{
    color: #54BAB9;
}

hr{
    /* background-color: white; */
    border-style: dotted none none;
    width: 30%;
    border-width : 5px;
}